* {
    box-sizing: border-box;
    overflow: break-word;
    word-break: break-all;
    
}

body{
    font-family:'Lato' Arial, Helvetica, sans-serif;
    background-color:  #F4F4F4;
}

#top-nav{
display: flex;
justify-content: space-between;
min-height: 65px;
background-color: white;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #E7E7E7;

}


 #nav-left > ul{
     
    display: flex;
   background-color: white;
    font-size: 12px;
    align-items: center;
    padding-left: 150px; 
    list-style: none;
}

#nav-right > ul{
    background-color: white;
    align-items: center;
   display: flex;
   justify-content: flex-end;
   font-size: 12px;
   padding: 0;
   list-style: none;

}

#nav-right li{
    padding-left: 5px;
    
}


li{
    padding-top:20px;
    padding-right: 25px;
}

#container{
    display:flex ;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    min-height: 100vh;
    flex: 1;
    
}


article{
    border-style: solid;
    border-width: thin;
    border-color: #E7E7E7;
    background-color: white;
    
}

.main-sections img{
    
    max-width :750px;
    height: 475px;
    margin-bottom: 23px;
}

#column1{
    flex-direction: column;
    flex: 1;
   
   padding-right: 30px;
   
   
}

.main-sections{
    background-color: white;
    margin-bottom: 50px;
}
article > h6{
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
}

.main-sections h2{
    text-align: center;
    margin-top: 33px;
    font-size: 20px;
    line-height: 0em;
}

.main-sections nav{
    margin-left: auto;
}

.main-sections p{
    padding-left: 40px;
    padding-right: 45px;
    margin-top: 33px;
    line-height: 1.5em;
}

.main-sections footer{
   display: flex;
    margin-top: 20px;
    padding-bottom: 0px;
    padding-left: 35px;
    border-top: 1px;
    border-top-style: solid;
    border-color: #E7E7E7;
    font-size: 13px;
    font-style: italic;
    line-height: 55px;
}

.main-sections span, .main-sections time{
    padding-top: 30px;
}

.main-sections ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    justify-content: space-between;
}


button{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 10px 17px;
    font-size: 12px;
    color: #CA5B3C;
    background-color: white;
    border-radius: 1px;
    border-color: #CA5B3C;
    
}

button:hover{
color: white;
background-color:#CA5B3C ;
}
#column2{
    flex-direction: column;
    flex: 1;
    margin-right: 50px;
    font-family: sans-serif;
    font-weight: 400;    
}
#column2 h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#about-me{
   position: relative; 
   
}
img[src*='mario-background']{
    max-width: 400px;
    height: 180px;
}
img[src*='shaun']{
    position: absolute;
    top:98px;
    left: 75px;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: white;
}
#about-me{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}
#about-me h3{
    margin-top: 110px;
    
}


#about-me p{
    font-size: 14px;
    line-height: 1.5em;
}

#about-me ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 10px;
}

/* #about-me li{
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    
} */
#popular-post{
    display: inline-block;
    
    margin-top: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
   
}
#popular-post > img{
    text-align: center;
    padding-left: 50px;
    width: 300px;
    height:200px ;
    padding-top: 20px;
    padding-bottom: 20px;
}

#popular-post h5{
    padding-left: 25px;
}


#popular-post time{
   padding-left: 25px;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E7E7E7;
    margin-bottom: 35px;
    
    
}
#latest-post{
    display: flex;
    flex-direction: column;
    margin-top: 35px; 
}
#latest-post img{
  
    max-width:100px;
    height: 75px;
}

.latest-post-headline{
    
}


#latest-post h5 {
    font-size: 12px;
    
    
}

#latest-post time{
   
    font-style: italic;
    font-size: 12px;
    margin-right: 60px;
    padding-bottom: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E7E7E7;
    
    
}

#instagram-feed h3{
    text-align: center;
}

#instagram-feed{
    flex:50%;
    margin-top: 35px;
    justify-content: space-around;
    
}

#instagram-feed > img{
    max-width:150px ;
}


p{
    line-height: 1.5rem;
}
#bottom-pics{
    display: flex;
    
}

#bottom-pics > img{
    justify-content: center;
    border: 1px solid gray;
    width: 180px;
    height: 190px;
    
}
#bottom{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding-top: 30px;
    height: 70px;
}